<div ng-if="authenticated">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"> OPPORTUNITY COLLABORATION</a>
        </div>
    
    
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="" href="#!/home">Home  <span class="sr-only"></span></a>
            </li>
            <li class="">
                <a class="" href="#!/blog">Blog</a>
            </li>
            <li class="">
                <a class="" href="#!/forum">Forum</a>
            </li>
            <li class="">
                <a class="" href="#!/edit/profile">Profile</a>
            </li>
            <li class="">
                <a class="" href="#!/member/list">Friends</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="">          
                <div class="left-padding" >
                    <h4>   {{message}}  </h4>    
                </div>
            </li>
            <li class="">
                <a class="" href="" ng-click="logout()">Logout</a>
            </li>
        </ul>
    </div> 
</nav>
</div>