<div class="container">
<div class="row">
	<div class="topNavWrapper" style="padding-top: 10px">
                    <a href=""><img src="./assets/images/logo.jpg" height="60" width="150" alt="eLearnzCampus"/></a>
                    <div class="loginWrap" style="padding-bottom: 10px">
                        <div class="login">
                            <a href="#!/login" title="Click here to login"><span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:2px "></span>   login</a>
                        </div>
                    </div>
                </div>
                <div class="mainMenu">
                     <ul>
                        <li><a href="#!/about"> about us</a></li>
                        <li><a href="#!/contact"> contact us</a></li>
                        <li><a href="#!/register"> register here</a></li>
                    </ul> 
                </div>
</div>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About us <small></small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8" style="text-align: center">
            <img src="./assets/images/about1.png" width="935"/>
           <!-- <div style="text-align: center; width:982px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                <h1>We're only Human</h1>
                <h3>We're are a team makers, thinker, explorer, and creators.</h3>
                <h3>We're serious about delivering great outcomes.</h3>
            </div>-->
            <br/>
            <br/>
            
        </div>
    </div>
</div>
