<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#!/edit/profile" role="tab" data-target="#picture" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Upload Profile Picture</a></li>
                        <li><a href="#!/updateProfile" role="tab" data-target="#info" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Update Profile Information</a></li>
                        
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="panel-body ">
                    <div class="tab-content ">              
                        <div class="tab-pane active" id="picture ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="c">
                                            <span class="">Change Profile Picture</span>
                                            <div class="row " style="text-align: center">
                                                <img class="circle profile-picture" ng-src="./assets/images/{{userCtrl.user.pictureId}}">
                                            </div>
                                            <div class="row " style="text-align: center">
                                        
                                                <div class="file-field input-field">
                                                    <div class="btn grey">
                                                        <span>File</span>
                                                        <!-- Here we are going to use our custom directive -->
                                                        <input type="file" file-model="userCtrl.picture">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                    </div>
                                                </div>
                                                <button class="btn btn-danger" ng-click="userCtrl.uploadFile()">Change Picture</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
