<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="master">
                <div class="topNavWrapper" style="padding-top: 10px">
                    <a href=""><img src="./assets/images/logo.jpg" height="60" width="150" alt="eLearnzCampus"/></a>
                    <div class="loginWrap" style="padding-bottom: 10px">
                        <div class="login">
                            <a href="#!/login" title="Click here to login"><span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:2px "></span>   login</a>
                        </div>
                    </div>
                </div>
                <div class="mainMenu">
                    <ul>
                        <li><a href="#!/about"> about us</a></li>
                        <li><a href="#!/contact"> contact us</a></li>
                        <li><a href="#!/register"> register here</a></li>
                    </ul>
                </div>
                <div class="contentWrapper" style="background-color : #FFF5EE;">
                    <div class="" >
                        <img src="./assets/images/collaboration.jpg" width="982px" height="500px" style="border-radius: 5px">
                    </div>
                    <div style="height: 10px"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="text-align: center">OPPORTUNITY COLLABORATION</h1>
                            <p style="text-align: justify; font-size: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px 10px 10px 10px">
                                Collaboration is important not just because it's a better way to learn. The spirit of collaboration is penetrating every institution and all of our lives. So learning to collaborate is part of equipping yourself for effectiveness, problem solving, innovation and life-long learning in an ever-changing networked economy.
                            </p>
                        </div>
                    </div>
                    <div class="row" style="width: 982px; padding-left:30px">
                        <div class="col-md-12">
                            <div class="row">
                        <div class="col-md-4" style="border: 1px solid darkred; height: 200px; border-radius: 5px">
                            <div>
                               <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px"> Convene</p>
                            </div>
                            <div style="text-align: center">
                                <img src="./assets/images/convene.jpg" style="border-radius: 15px" width="180" height="100"/>
                            </div>
                            <div>
                                <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px">
                                Come together
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4" style="border: 1px solid darkred;  height: 200px; border-radius: 5px">
                            <div>
                               <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px"> Connect</p>
                            </div>
                            <div style="text-align: center">
                                <img src="./assets/images/connect.jpg" style="border-radius: 15px" width="180" height="100"/>
                            </div>
                            <div>
                                <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px">
                                Unite together
                                </p>
                            </div>
                        </div>                        
                        <div class="col-md-4" style="border: 1px solid darkred;  height: 200px; border-radius: 5px">
                            <div>
                               <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px"> Create</p>
                            </div>
                            <div style="text-align: center">
                                <img src="./assets/images/create.jpg" style="border-radius: 15px" width="180" height="100"/>
                            </div>
                            <div>
                                <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 24px">
                                Make something new
                                </p>
                            </div>
                        </div>
                            </div>
                            </div>
                    </div>
                    <div style="height: 10px"></div>
                    </div>
                   
                </div>
            </div>
        </div>
     
</div>
